@page "/"
@inject IMembershipService MembershipService
<PageTitle>Index</PageTitle>

<h1 class="text-center">Dashboard</h1>

 <div class="d-flex flex-wrap justify-content-center">
            @foreach (var course in Courses)
            {
                <CourseCardPartial Course="@course" />
            }
        </div>
@code{
    public List<CourseDTO> Courses { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Courses = await MembershipService.GetCoursesAsync();
    }
}