.marquee img {
    width: auto;
    height: 140px;
    position: absolute;
    bottom: 0;
    margin: 30px;
    border: 4px solid rgba(255, 255, 255, 0.7);
    border-radius: 2px;
}

.marquee {
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    position: relative;
}
