
<div class="flex-fill">
    @foreach (var sect in Course.Sections)
    {
        <div class="card mt-1 border-0">
            <div class="card-body px-0">
                <h5>@sect.Title</h5>
            </div>
            <hr class="m-0">
            <div class="card-body rounded-0 p-0">
            @if (sect.Videos != null && sect.Videos.Count > 0)
            {
                <SectionVideos Videos="@sect.Videos" />
            }
            </div>
        </div>
    }
</div>

@code {
    [Parameter] 
    public CourseDTO Course { get; set; } = new();
}
