@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4">

                   
                
                    <LoginRegister />
      
                    <NavLink class="btn btn-success" href="sign-up">
                        <span class="oi oi-account-login"></span> Paid
                    </NavLink>
                
        </div>

        <article class="content px-4 mx-auto" style="max-width:1920px">
            @Body
        </article>
    </main>
</div>
